<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Report Bribery Case | Xbribe</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="/images/Xbribe_logo.png" type="image/x-icon">
		
		<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
		<link rel="stylesheet" href="/css/animate.css">
		
		<link rel="stylesheet" href="/css/owl.carousel.min.css">
		<link rel="stylesheet" href="/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="/css/magnific-popup.css">


		<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
		<link rel="stylesheet" href="/css/jquery.timepicker.css">

		<link rel="stylesheet" href="/css/flaticon.css">
		<link rel="stylesheet" href="/css/style.css">
		<style type="text/css">
			input[type="file"] {
				display: none;
			}
		</style>
	</head>
	<body>

	<!-- loader -->
	<div id="xbribe-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

		<nav class="navbar navbar-expand-lg navbar-dark xbribe_navbar bg-dark xbribe-navbar-light" id="xbribe-navbar">
			<div class="container">
				<a class="navbar-brand" href="/">Xbribe</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#xbribe-nav" aria-controls="xbribe-nav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="fa fa-bars"></span> Menu
				</button>
				<div class="collapse navbar-collapse" id="xbribe-nav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
						<li class="nav-item"><a href="/public" class="nav-link">Public Portal</a></li>
						<li class="nav-item"><a href="/#contact" class="nav-link">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- END nav -->
		<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/report-case.jpg');" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-end">
					<div class="col-md-9 xbribe-animate pb-5">
						<h1 class="mb-0 breaddd">Report a Case</h1>
					</div>
				</div>
			</div>
		</section>

		<section class="xbribe-sectionnn bg-light">
			<div class="container py-5">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<!-- <h2 class="heading-section">Contact Form #03</h2> -->
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-12">
						<div class="wrapper">
							<div class="row no-gutters justify-content-center">
								<div class="col-lg-10 col-sm-12">
									<div class="contact-wrap w-100 p-md-5 p-4">
										
										<div class="alert alert-primary text-center" id="alert-caseId">Your complaint ID will be: <b id="caseId"><%= caseId %></div>
											<div class="alert alert-danger text-center" id="alert" style="display: none;"></div>

										<form method="POST" id="reportForm" class="contactForm">
											<!-- <h3 class="mb-4">Contact Us</h3> -->
											<div class="row">
												<div class="col-sm-12">
													<div class="form-group">
														<label class="label" for="ministryId">Ministry</label>
														<select class="custom-select" name="ministryId" required>
															<!-- <% ministries.forEach((ministry) => { %> -->
																<option class="w3-input w3-border" value="<%= ministry.ministryId %>"><%= ministry.ministryName %></option>
															<!-- <% }) %> -->
														</select>
													</div>
												</div>
												<div class="col-sm-12">
													<div class="form-group">
														<label class="label" for="department">Department:</label>
														<select class="custom-select" name="department" required>
																<!-- <option class="w3-input w3-border" value=""></option> -->
														</select>
													</div>
												</div>
												<div class="col-sm-12">
													<div class="form-group">
														<label class="label"  for="name">Institute/Organization Name</label>
														<input class="form-control" placeholder="Enter Ministry Name" name="name" type="text" required>
													</div>
												</div>
												<div class="col-sm-12">
													<div class="form-group">
														<label class="label"  for="name">Name of concerned person/official</label>
														<input class="form-control" placeholder="Enter Person's Name" name="officialName" type="text" required>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group">
														<label class="label"  for="place">Place</label>
														<input class="form-control" placeholder="Enter place name" name="place" type="text" required>
													</div>
												</div>
												<div class="col-sm-6"> 
													<div class="form-group">
														<label class="label"  for="pin">PIN Code</label>
														<input class="form-control" placeholder="Enter PIN code" name="pin" type="number" required>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<label class="label"  for="address">Address</label>
														<input class="form-control" placeholder="Enter a valid address or else report won't be registered" name="address" type="text" required>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<label class="label" for="message">Description</label>
														<textarea name="description" class="form-control" id="description" cols="30" rows="4" placeholder="Enter detailed description. Refrain from writing spam/abusive content or else your report will be classified as spam."></textarea>
													</div>
												</div>
												<div class="col-md-12">
													<div class="form-group">
														<input type="submit" value="Proceed" class="btn btn-primary">
														<div class="submitting"></div>
													</div>
												</div>
											</div>

											<!-- hidden fields containing urls of uploaded files -->
											<div id="PicsArrayContainer" style="display: none;">
												<!-- <input name="picsArray[]" type="text"> -->
											</div>
											<div id="AudiosArrayContainer" style="display: none;">
												<!-- <input name="audiosArray[]" type="text"> -->
											</div>
											<div id="VideosArrayContainer" style="display: none;">
												<!-- <input name="videosArray[]" type="text"> -->
											</div>
										</form>


										<form method="POST" id="filesUploadForm" class="contactForm" style="display: none;">
											<h3 class="mb-4">Upload Related Media</h3>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="label w-100" for="pic">Upload Pictures</label>
														<label class="custom-file-upload btn btn-primary mb-0 btn-success">
															<input type="file" name="pics" multiple="true" />
															Select
														</label>
														<div class="py-3" id="picsPreviewWrapper">
															<div class="row" id="picsPreview">
																
															</div>
															<div id="uploadPicsButton" class="btn btn-info btn-block mt-3" style="display: none;">
																Upload All Images
															</div>
														</div>
														<hr>
													</div>
												</div>

												<div class="col-md-12">
													<div class="form-group">
														<label class="label w-100" for="pic">Upload Audio Files</label>
														<label class="custom-file-upload btn btn-primary mb-0">
															<input type="file" name="audios" multiple="true" />
															Select
														</label>
														<div class="py-3" id="audiosPreviewWrapper">
															<ul id="audiosPreview" class="mb-0"></ul>
															<div id="uploadAudiosButton" class="btn btn-info btn-block mt-3" style="display: none;">
																Upload All Audios
															</div>
														</div>
														<hr>
													</div>
												</div>

												<div class="col-md-12">
													<div class="form-group">
														<label class="label w-100" for="pic">Upload Videos</label>
														<label class="custom-file-upload btn btn-primary mb-0">
															<input type="file" name="videos" multiple="true" />
															Select
														</label>
														<div class="py-3" id="videosPreviewWrapper">
															<ul id="videosPreview" class="mb-0"></ul>
															<div id="uploadVideosButton" class="btn btn-info btn-block mt-3" style="display: none;">
																Upload All Videos
															</div>
														</div>
														<hr>
													</div>
												</div>

												<div class="col-md-6">
													<div class="btn btn-outline-secondary btn-block mb-2" id="cancelSubmitForm">Cancel</div>
												</div>
												<div class="col-md-6">
													<div class="btn btn-primary btn-block mb-2" id="finalSubmitForm">Submit Report</div>
												</div>
												
											</div>
										</form>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer class="footer">
			<div class="container">
				<p class="copyright text-center mb-0">
					Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | Xbribe
				</p>
			</div>
		</footer>



	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery-migrate-3.0.1.min.js"></script>
	<!-- <script src="/js/popper.min.js"></script> -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- <script src="/js/jquery.easing.1.3.js"></script> -->
	<script src="/js/jquery.waypoints.min.js"></script>
	<script src="/js/jquery.stellar.min.js"></script>
	<!-- <script src="/js/jquery.animateNumber.min.js"></script> -->
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<!-- <script src="/js/scrollax.min.js"></script> -->
	<script src="/js/main.js"></script>
	<script src="/scripts/dynamic-department-list.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-storage.js"></script>
	<script src="/scripts/firebase-config.js"></script>
	<script src="/scripts/media-upload.js"></script>


		
	</body>
</html>