<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Reported Successfully | Xbribe</title>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="/images/Xbribe_logo.png" type="image/x-icon">
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/animate.css">		
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

  <!-- loader -->
  <div id="xbribe-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

		<nav class="navbar navbar-expand-lg navbar-dark xbribe_navbar bg-dark xbribe-navbar-light" id="xbribe-navbar">
	    <div class="container">
	    	<a class="navbar-brand" href="/">Xbribe</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#xbribe-nav" aria-controls="xbribe-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="xbribe-nav">
	        <ul class="navbar-nav ml-auto">
	        	<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
	        	<li class="nav-item"><a href="/public" class="nav-link">Public Portal</a></li>
	          <li class="nav-item"><a href="/#contact" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/images/report-case.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 xbribe-animate pb-5">
            <h1 class="mb-0 breaddd">Reported Successfully</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="xbribe-sectionnn bg-light">
			<div class="container py-5">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-12">
						<div class="wrapper">
							<div class="row no-gutters justify-content-center">
								<div class="col-lg-10 col-sm-12">
									<div class="contact-wrap xbribe-animate w-100 p-md-5 p-4">
										
                    <div class="alert alert-primary text-center" id="alert-success" style="display: non;">
                      Your Case has been reported Successfully!<br>
                      Please note case ID <b><%= report.caseId %></b> for future reference.<br>
                      An email has also been sent to <%= report.email %>.<br><br>
                      Click below button to generate receipt.
                    </div>
                    <div class="alert alert-danger text-center" id="alert-danger" style="display: none;"></div>
                    <form method="POST" action="/status" class="d-flex justify-content-center">
                      <input name="caseId" value="<%= report.caseId %>" hidden>
                      <input name="email" value="<%= report.email %>" hidden>
                      <input type="submit" value="Generate Receipt" class="btn btn-primary">
                    </form>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer class="footer xbribe-animate">
			<div class="container">
        <p class="copyright text-center mb-0">
          Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | Xbribe
        </p>
			</div>
		</footer>


  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <!-- <script src="/js/popper.min.js"></script> -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- <script src="/js/jquery.easing.1.3.js"></script> -->
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/scripts/verify-otp.js"></script>
	<script src="/js/main.js"></script>

  </body>
</html>