<!DOCTYPE html>
<html>
<head>
	<title>Admin Register | Xbribe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/images/Xbribe_logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
  <script src="/css/bootstrap/jquery.min.js"></script>
  <script src="/css/bootstrap/popper.min.js"></script>
  <script src="/css/bootstrap/bootstrap.min.js"></script>
</head>
<body>

<!-- navbar start -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item activ">
      <a class="nav-link" href="/">Public Home</a>
    </li>
  </ul>
</nav>
<!-- navbar ends -->

<div class="jumbotron text-center mb-5">
	<h2>ADMINISTRATOR REGISTER</h2>
</div>


<div class="container">
	
	<div class="row d-flex justify-content-center">
		<div class="col-md-7">
			<form method="post">
    		<div class="form-group">
      		<label for="adminId">Administrator ID:</label>
      		<input class="form-control" name="adminId" type="text" pattern="^[a-zA-Z0-9]*$" placeholder="Enter Administrator ID" required>
    		</div>
		    <div class="form-group">
  	  	  <label for="password">Password:</label>
    		  <input class="form-control" placeholder="Enter password" name="password" type="password" placeholder="Password" required>
		    </div>
		    <!-- <div class="form-group form-check">
		      <label class="form-check-label">
		        <input class="form-check-input" type="checkbox" name="remember"> Remember me
		      </label>
		    </div> -->
    		<button type="submit" class="btn btn-primary">REGISTER</button>
  		</form>
		</div>
	</div>

</div>

<footer class="jumbotron text-center mt-5 mb-0">
	<h4>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | Xbribe</h4>
</footer>

</body>
</html>