<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forecast | Administrator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/images/Xbribe_logo.png" type="image/x-icon">
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <link rel="stylesheet" href="/css/animate.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/my-styles.css">
		<link rel="stylesheet" type="text/css" href="/css/table-dashboard.css">
  </head>
  <body>

	  <!-- loader -->
		<div id="xbribe-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

		<nav class="navbar navbar-expand-lg navbar-dark xbribe_navbar bg-dark xbribe-navbar-light" id="xbribe-navbar">
	    <div class="container">
	    	<a class="navbar-brand" href="/admin">Administrator</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#xbribe-nav" aria-controls="xbribe-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="xbribe-nav">
	        <ul class="navbar-nav ml-auto">
						<li class="nav-item"><a href="/" class="nav-link">Public Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin/cases">See cases</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin/spam">Spam cases</a></li>
						<li class="nav-item"><a class="nav-link" href="/admin/manage-ministry">Manage Ministries</a></li>
	          <li class="nav-item"><a href="logout" class="nav-link">Logout</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->


    <section class="hero-wrap hero-wrap-22 bg-dark" style="background-image: url('/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 xbribe-animate pb-4 pt-4">
            <h1 class="mb-0 text-dark breadd pt-5 mt-5">ADMINISTRATOR</h1>
          </div>
        </div>
      </div>
		</section>


		<section class="xbribe-section bg-light xbribe-faqs">
    	<div class="container">

				<div class="heading-section xbribe-animate row mb-3 mt-0 pt-0">
            <h2 class="mb-3">Forecast of number of cases</h2>
				</div>

        <div class="xbribe-animate row mb-3 mt-0">
          <h4 class="mb-4 w-100 pl-3 mb-5"><strong>Arbitrary Department 1</strong></h4>
          <div class="col-md-3 mb-4">

						<div class="wrap-table100 xbribe-animate mt-0">
							<div class="table100 ver1 m-b-110">
								<table data-vertable="ver1">
									<thead>
										<tr class="row100 head">
											<th class="column100 column4-" data-column="column1-">Month</th>
											<th class="column100 column0-" data-column="column0-">No. of Cases</th>
										</tr>
									</thead>
									<tbody>	
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> January </td>
                      <td class="column100 column0-" data-column="column0-"> 27 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> February </td>
                      <td class="column100 column0-" data-column="column0-"> 31 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> March </td>
                      <td class="column100 column0-" data-column="column0-"> 68 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> April </td>
                      <td class="column100 column0-" data-column="column0-"> 43 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> May </td>
                      <td class="column100 column0-" data-column="column0-"> 31 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> June </td>
                      <td class="column100 column0-" data-column="column0-"> 36 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> July </td>
                      <td class="column100 column0-" data-column="column0-"> 38 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> August </td>
                      <td class="column100 column0-" data-column="column0-"> 36 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> September </td>
                      <td class="column100 column0-" data-column="column0-"> 59 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> October </td>
                      <td class="column100 column0-" data-column="column0-"> 69 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> November </td>
                      <td class="column100 column0-" data-column="column0-"> 32 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> December </td>
                      <td class="column100 column0-" data-column="column0-"> 69 </td>
                    </tr>
									</tbody>
								</table>
							</div>
						</div>

          </div>
          <div class="col-md-9 mb-4">
            <img class="w-100 mycard" src="/images/forecast/monthly1_modelfit.png">
            <p class="my-4 text-center"><b>Forecast for 2020</b></p>
          </div>


          <h4 class="my-4 w-100 pl-3 mb-5"><strong>Arbitrary Department 2</strong></h4>
          <div class="col-md-3">

						<div class="wrap-table100 xbribe-animate mt-0">
							<div class="table100 ver1 m-b-110">
								<table data-vertable="ver1">
									<thead>
										<tr class="row100 head">
											<th class="column100 column4-" data-column="column1-">Month</th>
											<th class="column100 column0-" data-column="column0-">No. of Cases</th>
										</tr>
									</thead>
									<tbody>	
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> January </td>
                      <td class="column100 column0-" data-column="column0-"> 32 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> February </td>
                      <td class="column100 column0-" data-column="column0-"> 44 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> March </td>
                      <td class="column100 column0-" data-column="column0-"> 38 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> April </td>
                      <td class="column100 column0-" data-column="column0-"> 59 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> May </td>
                      <td class="column100 column0-" data-column="column0-"> 54 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> June </td>
                      <td class="column100 column0-" data-column="column0-"> 50 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> July </td>
                      <td class="column100 column0-" data-column="column0-"> 38 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> August </td>
                      <td class="column100 column0-" data-column="column0-"> 43 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> September </td>
                      <td class="column100 column0-" data-column="column0-"> 38 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> October </td>
                      <td class="column100 column0-" data-column="column0-"> 38 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> November </td>
                      <td class="column100 column0-" data-column="column0-"> 40 </td>
                    </tr>
                    <tr class="row100">
                      <td class="column100 column1-" data-column="column1-"> December </td>
                      <td class="column100 column0-" data-column="column0-"> 35 </td>
                    </tr>
									</tbody>
								</table>
							</div>
						</div>

          </div>
          <div class="col-md-9">
            <img class="w-100 mycard" src="/images/forecast/monthly2_modelfit.png">
            <p class="my-4 text-center"><b>Forecast for 2020</b></p>
          </div>
        </div>

    	</div>
    </section>


    <footer class="footer xbribe-animate">
			<div class="container">
        <p class="copyright text-center mb-0">
          Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | Xbribe
        </p>
			</div>
		</footer>    
  

  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <!-- <script src="/js/popper.min.js"></script> -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- <script src="/js/jquery.easing.1.3.js"></script> -->
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <!-- <script src="/js/jquery.animateNumber.min.js"></script> -->
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
	<!-- <script src="/js/scrollax.min.js"></script> -->
	<script src="/scripts/jquery-filter.js"></script>
	<script src="/js/main.js"></script>

    
  </body>
</html>